.suggestion {
  display: flex;
  width: 100%;
  max-width: 300px;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.suggestion:hover {
  background-color: rgba(0, 149, 246, 0.1);
  box-shadow: 0 2px 8px rgba(0, 149, 246, 0.3);
  border-radius: 8px;
}

.userInfo {
  display: flex;
  gap: 12px;
  align-items: center;
}

.avatar {
  background-color: rgba(196, 196, 196, 1);
  border-radius: 50%;
  width: 32px;
  height: 32px;
}

.details {
  display: flex;
  flex-direction: column;
}

.username {
  color: rgba(0, 0, 0, 1);
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
}

.subtitle {
  color: rgba(142, 142, 142, 1);
  font-size: 12px;
  font-weight: 400;
}

.followButton {
  color: rgba(0, 149, 246, 1);
  font-size: 12px;
  font-weight: 500;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}
