.inputWrapper {
  display: flex;
  gap: 11px;
  text-align: right;
  flex-direction: row;
  margin: 16px 0;
}

.inputLabel {
  padding: 0px 22px 0px 0px;
  flex-grow: 1;
  margin: auto;
  font: 600 16px Roboto, sans-serif;
  color: rgba(38, 38, 38, 1);
  min-width: 139px;
}

.inputField {
  padding-left: 10px;
  border-radius: 3px;
  background-color: rgba(249, 249, 249, 1);
  min-width: 70%;
  max-width: 100%;
  height: 42px;
  border: 1px solid rgba(239, 239, 239, 1);
}
